body {
    font-family: sans-serif;
    background-color: #315481;
    background-image: linear-gradient(to bottom, #315481, #918e82 100%);
    background-attachment: fixed;
    color: #364A85;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 0;
    margin: 0;

    font-size: 14px;
}

.container {
    max-width: 1024px;
    margin: 20px auto;
    min-height: 100%;
    background: white;
}

header {
    background: #D0F6F3;
    padding: 20px 15px 15px 15px;
}

h1 {
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 1em;
}

form {
    margin-top: 10px;
    margin-bottom: -10px;
    position: relative;
}

input {
    box-sizing: border-box;
    padding: 10px 20px;
    border: none;
    width: 100%;
    padding-right: 80px;
    font-size: 1em;
    margin: 10px 0px;
}

.new-message input:focus{
    outline: 0;
}

ul {
    margin: 0;
    padding: 0;
    background: white;
}



li {
    position: relative;
    list-style: none;
    padding: 15px;
    border: 1px solid #eee;
}

li .title {
    margin-left: 10px;
    font-size: 1.2em;
    font-weight: bold;
    color: #FFA732;
    text-transform: uppercase;
    padding: 25px 10px;
}

li .message {
    margin-left: 25px;
    padding: 15px;
}


.hearts {
    color: #C71B17;
    vertical-align: sub;
}

.heart {
    font-weight: bold;
    position: relative;
}

.text {
    float: left;
    font-size: 1.25em;
    text-transform: capitalize;
    padding: 5px 0px;
}

.actions {
    float: right;
    font-weight: bold;
    position: relative;
}

button.action {
    color: #666;
    font-size: 1.25em;
    float: left;
    height: 30px;
    width: 30px;
}

.clearfix {
    clear: both;
}